In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('household_power_consumption.txt', sep=';')

/usr/local/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075259 entries, 0 to 2075258
Data columns (total 9 columns):
Date                     object
Time                     object
Global_active_power      object
Global_reactive_power    object
Voltage                  object
Global_intensity         object
Sub_metering_1           object
Sub_metering_2           object
Sub_metering_3           float64
dtypes: float64(1), object(8)
memory usage: 142.5+ MB

In [8]:
df.Global_active_power.value_counts()

?                     25979
0.218                  9491
0.216                  9319
0.322                  9226
0.324                  9153
0.320                  9019
0.220                  9006
0.326                  8984
0.318                  8939
0.316                  8906
0.222                  8869
0.312                  8831
0.224                  8793
0.252                  8788
0.314                  8766
0.226                  8589
0.328                  8466
0.308                  8458
0.228                  8422
0.310                  8412
0.250                  8316
0.234                  8259
0.306                  8208
0.214                  8204
0.254                  8167
0.230                  8108
0.232                  8080
0.330                  8055
0.246                  7892
0.236                  7863
                      ...
4.852                     1
5.827999999999999         1
4.47                      1
4.838                     1
5.928                     1
8.848                     1
4.65                      1
5.997999999999999         1
3.344                     1
3.238                     1
3.168                     1
3.4960000000000004        1
4.3260000000000005        1
6.626                     1
7.892                     1
4.96                      1
6.21                      1
4.4                       1
5.15                      1
8.126                     1
9.042                     1
8.242                     1
3.3139999999999996        1
8.024                     1
3.702                     1
8.054                     1
3.846                     1
8.812                     1
8.866                     1
5.5360000000000005        1
Name: Global_active_power, Length: 6534, dtype: int64