# Desafío 2: Rendimiento escolar

## Preliminares

### Problema

El problema consiste en el desarrollo de un modelo predictivo de **regresión** para predecir, en base a atributos sociodemográficos y conductuales de alumnos, las notas de los alumnos.

A continuación se presenta el modelo a estimar:

$$Y={{\beta }_{0} + \sum_{i=1} {\beta }_{i} \cdot {X_{i}}}$$

Donde $X_{i}$ corresponden a los atributos sociodemográficos y conductuales, mientras que $Y$ es el vector objetivo a estimar (notas)

### Métricas de desempeño

Como este es un problema de regresión, se utilizarán las siguientes dos métricas:

- **Promedio del Error Cuadrático (Mean Squared Error)**: Representa la expectativa del error cuadrático. Es un indicador de calidad con valores no negativos, donde menores valores indican mejores niveles de ajuste.
- **R-cuadrado**: Representa la capacidad explicativa de nuestro conjunto de atributos en la variabilidad de nuestro vector objetivo.

### Descripción de la base de datos

- school : Escuela del estudiante. (binaria: 'GP' - Gabriel Pereira o 'MS' - Mousinho da Silveira)
- sex : Sexo del estudiante. (binaria: 'F' - Mujer o 'M' - Hombre)
- age : Edad del estudiante. (numérica: de 15 a 22)
- address : Ubicación de la casa del estudiante. (binaria: 'U' - urbana o 'R' - rural)
- famsize : Tamaño de la familia. (binaria: 'LE3' - less or equal to 3 or 'GT3' - greater than 3)
- Pstatus : Estado cohabitacional de los padres. (binaria: 'T' - cohabitando juntos o 'A' - viviendo separados)
- Medu : Nivel educacional de la madre. (numérica: 0 - ninguno, 1 - educación básica (4to), 2 - de 5to a 9, 3 - educación media, o 4 - educación superior).
- Fedu : Nivel educacional del padre. (numérica: 0 - ninguno, 1 - educación básica (4to), 2 - de 5to a 9, 3 - educación media, o 4 - educación superior).
- Mjob : Ocupación de la madre. (nominal: 'teacher' profesora, 'health' relacionada a salud, 'services' (e.g. administración pública o policía), 'at_home' en casa u 'other' otra).
- Fjob : Ocupación del padre (nominal: 'teacher' profesor, 'health' relacionado a salud, 'services' (e.g. administración pública o policía), 'at_home' en casa u 'other' otra).
- reason : Razón para escoger la escuela (nominal: 'home' cercano a casa, 'reputation' reputación de la escuela, 'course' preferencia de cursos u 'other' otra)
- guardian : Apoderado del estudiante (nominal: 'mother' madre, 'father' padre u 'other' otro)
- traveltime : Tiempo de viaje entre hogar y colegio. (numeric: 1 - <15 min., 2 - 15 a 30 min., 3 - 30 min. a 1 hora, or 4 - >1 hora).
- studytime : Horas semanales dedicadas al estudio. (numérica: 1 - <2 horas, 2 - 2 a 5 horas, 3- 5 a 10 horas, o 4 - >10 horas)
- failures : Número de clases reprobadas. (numérica: n si 1<=n<3, de lo contrario 4)
- schoolsup : Apoyo educacional del colegio. (binaria: si o no)
- famsup : Apoyo educacional familiar. (binaria: si o no)
- paid : Clases particulares pagadas (matemáticas o portugués) (binaria: si o no)
- activities : Actividades extracurriculares. (binaria: si o no)
- nursery : Asistió a guardería infantil. (binaria: si o no)
- higher : Desea proseguir estudios superiores (binaria: si o no)
- internet : Acceso a internet desde el hogar (binaria: si o no)
- romantic : Relación romántica (binaria: si o no)
- famrel : Calidad de las relaciones familiares. (numérica: de 1 - muy malas a 5 - excelentes)
- freetime : Tiempo libre fuera del colegio (numérica: de 1 - muy poco a 5 - mucho)
- goout : Salidas con amigos (numérica: de 1 - muy pocas a 5 - muchas)
- Dalc : Consumo de alcohol en día de semana (numérica: de 1 - muy bajo a 5 - muy alto)
- Walc : Consumo de alcohol en fines de semana (numérica: de 1 - muy bajo a 5 - muy alto)
- health : Estado de salud actual (numérica: from 1 - muy malo to 5 - muy bueno)
- absences : Cantidad de ausencias escolares (numérica: de 0 a 93)
- G1 : Notas durante el primer semestre (numérica: de 0 a 20). Este es uno de sus vectores objetivos para el modelo descriptivo.
- G2 : Notas durante el segundo semestre (numérica: de 0 a 20). Este es uno de sus vectores objetivos para el modelo descriptivo.
- G3 : Promedio final (numérica: de 0 a 20). Este es uno de sus vectores objetivos para el modelo descriptivo y el vector a predecir en el modelo predictivo.

## Aspectos computacionales

### Librerías a utilizar

- `pandas`: manipulación y análisis de datos.
- `numpy`: biblioteca de funciones matemáticas de alto nivel para operar con vectores o matrices.
- `scipy.stats`: contiene una gran cantidad de distribuciones de probabilidad y de funciones estadísticas.
- `matplotlib.pyplot`: nos permite mostrar gráficos.
- `seaborn`: librería especializada para gráficos estadísticos.
- `sklearn`: herramientas para análisis de datos y minería de datos. En particular se utilizará:
    - `linear_model`: módulo para trabajar con regresión donde el valor target es una combinación lineal de los features. Utilizaremos en este caso `LogisticRegression`.
    - `metrics`: módulo para obtener métricas de nuestros modelos (`mean_squared_error`, `r2_score`).
    - `model_selection`: de aquí se utilizará `train_test_split` para dividir nuestro datos en un set de entrenamiento y en un set de validación.
    - `preprocessing`: funciones para transformar datos en una representación más adecuada para los estimadores.
- `statsmodel`: provee clases y funciones para la estimación de distintos modelos estadísticos, así como para la realización de pruebas estadísticas y la exploración de datos estadísticos.
- `missingno`: librería para la visualización de datos perdidos.
- `factor_analyzer`: librería para el análisis factorial.
- `warnings`: será utilizada para evitar avisos de deprecación.

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score
import statsmodels.api as sm
import statsmodels.formula.api as smf
import factor_analyzer as factor
import missingno as msngo
import warnings

warnings.filterwarnings('ignore')

### Proceso de preprocesamiento y recodificación de datos

El proceso de preprocesamiento y recodificación de los datos consistirá en lo siguiente:

1. Análisis de cada columna (tipos de datos).
2. Resolución de anomalías.
3. Recodificación de las variables binarias como 0 y 1. Se asignará 1 a aquellas categorías minoritarias.
4. Recodificación de las variables nominales con más de 2 categorías.

### Funciones

- `describe_columns(df)`, función que dado un `DataFrame` `df` reporta las medidas descriptivas de cada columna. Para columnas con valores numéricos, utilizará `describe`, mientras para las columnas con atributos discretos utilizará `value_counts`.
- `plot_columns_behaviour(df)`, función que dado un `DataFrame` `df`, grafica histogramas para los atributos contínuos y gráficos de barra los discretos.

In [14]:
original_df = pd.read_csv('students.csv', sep='|')
original_df.head(5)

,Unnamed: 0,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,0,GP,F,nulidade,U,GT3,A,4,4,at_home,...,4,3,"""4""",1,1,"""3""",6,5,6,6
1,1,GP,F,"""17""",U,GT3,T,1,1,at_home,...,5,3,"""3""",1,1,"""3""",4,5,5,6
2,2,GP,F,"""15""",U,LE3,T,1,1,at_home,...,4,3,"""2""",2,3,"""3""",10,zero,8,10
3,3,GP,F,"""15""",U,GT3,T,4,2,health,...,3,2,"""2""",1,1,"""5""",2,15,14,15
4,4,GP,F,sem validade,U,GT3,T,3,3,other,...,4,3,"""2""",1,2,"""5""",4,6,10,10

In [15]:
# 1. Análisis de cada columna
original_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 34 columns):
Unnamed: 0    395 non-null int64
school        395 non-null object
sex           395 non-null object
age           395 non-null object
address       395 non-null object
famsize       395 non-null object
Pstatus       395 non-null object
Medu          395 non-null object
Fedu          395 non-null object
Mjob          395 non-null object
Fjob          395 non-null object
reason        395 non-null object
guardian      395 non-null object
traveltime    395 non-null object
studytime     395 non-null object
failures      395 non-null object
schoolsup     395 non-null object
famsup        395 non-null object
paid          395 non-null object
activities    395 non-null object
nursery       395 non-null object
higher        395 non-null object
internet      395 non-null object
romantic      395 non-null object
famrel        395 non-null object
freetime      395 non-null object
goout         395 non-null object
Dalc          395 non-null object
Walc          395 non-null object
health        395 non-null object
absences      395 non-null object
G1            395 non-null object
G2            395 non-null int64
G3            395 non-null object
dtypes: int64(2), object(32)
memory usage: 105.0+ KB

In [60]:
# 2. Resolución de anomalías

# 2.1) Eliminar unnamed column
df1 = original_df.drop(columns=['Unnamed: 0'])

# 2.2) Para cada columna, reemplazar los casos perdidos
df2 = df1.copy()

for col in df2:
    missing = df2[col].isin(['nulidade', 'zero', 'sem validade'])
    missing_count = sum(missing)
    if missing_count > 0:
        df2[missing] = None

In [61]:
# Analizaremos todas las columnas que son string para continuar con la revisión:

for col in df:
    if df2[col].dtype == np.object:
        print(df2[col].value_counts(), '\n')

GP    247
MS     37
Name: school, dtype: int64

F    147
M    137
Name: sex, dtype: int64

"16"    74
"18"    70
"15"    61
"17"    60
"19"    15
"20"     3
"21"     1
Name: age, dtype: int64

U    214
R     70
Name: address, dtype: int64

GT3    209
LE3     75
Name: famsize, dtype: int64

T    257
A     27
Name: Pstatus, dtype: int64

4    98
2    71
3    70
1    44
0     1
Name: Medu, dtype: int64

2    77
3    76
4    68
1    62
0     1
Name: Fedu, dtype: int64

other       103
services     68
teacher      44
at_home      43
health       26
Name: Mjob, dtype: int64

other       159
services     80
teacher      21
health       13
at_home      11
Name: Fjob, dtype: int64

course        102
home           78
reputation     77
other          27
Name: reason, dtype: int64

mother    200
father     60
other      24
Name: guardian, dtype: int64

1    177
2     84
3     18
4      5
Name: traveltime, dtype: int64

2    139
1     75
3     51
4     19
Name: studytime, dtype: int64

0    223
1     37
2     14
3     10
Name: failures, dtype: int64

no     246
yes     38
Name: schoolsup, dtype: int64

yes    174
no     110
Name: famsup, dtype: int64

no     158
yes    126
Name: paid, dtype: int64

yes    148
no     136
Name: activities, dtype: int64

yes    223
no      61
Name: nursery, dtype: int64

yes    269
no      15
Name: higher, dtype: int64

yes    231
no      53
Name: internet, dtype: int64

no     189
yes     95
Name: romantic, dtype: int64

4    145
5     73
3     47
2     14
1      5
Name: famrel, dtype: int64

3    114
4     76
2     49
5     29
1     16
Name: freetime, dtype: int64

"3"    101
"2"     76
"4"     58
"5"     35
"1"     14
Name: goout, dtype: int64

1    198
2     53
3     20
4      8
5      5
Name: Dalc, dtype: int64

1    116
2     58
3     54
4     38
5     18
Name: Walc, dtype: int64

"5"    104
"3"     73
"4"     52
"2"     28
"1"     27
Name: health, dtype: int64

0     81
2     50
4     41
6     23
8     13
10    12
14     6
7      6
18     5
12     5
3      5
5      5
11     3
1      3
13     3
15     3
16     3
20     2
9      2
21     1
28     1
54     1
40     1
22     1
24     1
25     1
38     1
17     1
19     1
75     1
30     1
26     1
Name: absences, dtype: int64

10    38
8     33
12    29
13    25
9     24
7     23
11    22
14    21
6     17
15    16
16    15
17     8
18     5
5      5
19     2
4      1
Name: G1, dtype: int64

10    40
11    32
0     26
12    24
13    22
9     21
8     21
14    20
15    20
6     13
16    11
7      9
18     7
17     6
5      5
19     5
4      1
20     1
Name: G3, dtype: int64

In [75]:
# 2.3) Columnas que son número pero que están como string
df3 = df2.copy()

for col in ['age', 'goout', 'health']:
    safe_column = df3[col].notnull()
    df3.loc[safe_column, col] = df3[safe_column][col].apply(lambda n: int(n.replace('"', '')))

# 2.4) Columnas numéricas que no están como tal
df5 = df4.copy()
for col in ['age', 'goout', 'health', 'G1', 'G3', 'absences']:
    df5[col] = pd.to_numeric(df5[col])

In [83]:
# 3) Recodificación variables binarias como 0 y 1, 1 para las minoritarias

binaries = ['schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic']
df6 = pd.get_dummies(df5, columns=binaries)
df6.head(5)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,activities_no,activities_yes,nursery_no,nursery_yes,higher_no,higher_yes,internet_no,internet_yes,romantic_no,romantic_yes
0,None,None,NaN,None,None,None,None,None,None,None,...,0,0,0,0,0,0,0,0,0,0
1,GP,F,17.0,U,GT3,T,1,1,at_home,other,...,1,0,1,0,0,1,0,1,1,0
2,None,None,NaN,None,None,None,None,None,None,None,...,0,0,0,0,0,0,0,0,0,0
3,GP,F,15.0,U,GT3,T,4,2,health,services,...,0,1,0,1,0,1,0,1,0,1
4,None,None,NaN,None,None,None,None,None,None,None,...,0,0,0,0,0,0,0,0,0,0